body {
    padding: 0;
    margin: 0;
    background: #000;
    color: #fafafa;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: #ffa500;
    text-decoration: none;
}

.textAccent{
    color: #ffa500;
}

h1{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 4.375em;
    letter-spacing: -2px;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h4 {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p {
    font-size: 1em;
    text-align: left;
}

.container {
    background: #4a4a4a;
    height: 100vh;

    text-align: center;

    display: flex;
    flex-flow: column;
    flex: 1;
}

.mainContent{
    margin: 0 5%;
}

.footer{
    background: #3a3a3a;
    text-align: center;
    
    font-size: 0.9em;

    display: flex;
    flex-flow: row;
    justify-content: center;
    /* align-items: center; */

    padding: 10px;

    margin-top: auto;
    flex-shrink: 0;
}

.footerItem{
    /* margin: 10px; */
    padding: 0 5%;
}

.footer ul{
    list-style: none;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin: 0 5px;
}