<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Standard 3 Parts</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <div class="container">
            <div class="header">
                <h2>Hello</h2>
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                
                </ul>
                    
            </div>
            
            <div class="mainContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas nostrum, nemo voluptatem ab ut tempora sed necessitatibus odio? Recusandae, nostrum a! Ducimus alias quos incidunt eos fugit id totam!</p>
            </div>
        
            <div class="footer">
                <h2>Footer</h2>
            </div>
    </div>


</body>
</html>