body {
    padding: 0;
    margin: 0;
    color: #fafafa;
}

.container {
    background: #6a6a6a;
    width: 100vw;
    padding: 0;

    text-align: center;

    display: flex;
    flex-flow: column;
    flex: 1;
}

.header{
    background: #3a3a3a;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    /* fixed header */
    height: 150px;
    overflow: none;
}

.header ul{
    list-style: none;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header ul li {
    display: inline;
    margin: 0 5px;
}

.mainContent{
    background: #4a4a4a;
    margin: 0 5%;

    /* fixed header */
    margin-top: 150px; 
}

.footer{
    background: #3a3a3a;
    text-align: center;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    flex-shrink: 0;
}
